Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm

SPI-checkouts/
.env
.env.*
*.dump
misc/

node_modules
.cache
.parcel-cache
Public/main.js
Public/main.js.map
Public/main.css
Public/main.css.map
Public/docc.css
Public/docc.css.map
Tests/AppTests/__Snapshots__/WebpageSnapshotTests/*
!Tests/AppTests/__Snapshots__/WebpageSnapshotTests/*.html

.nova/
.vscode/*
!.vscode/*.template
xcbeautify
test.log
.collection-signing-key.pem
