Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm

SPI-checkouts/
.env
.env.development
.env.testing
*.dump
misc/

node_modules
.cache
.parcel-cache
Public/main.js
Public/main.js.map
Public/main.css
Public/main.css.map
Public/docc.css
Public/docc.css.map
Tests/AppTests/__Snapshots__/WebpageSnapshotTests/*
!Tests/AppTests/__Snapshots__/WebpageSnapshotTests/*.html

.nova/
/.vscode/
.devcontainer/Dockerfile
.env.staging
xcbeautify
test.log
