#   Build images: docker-compose build
#      Start app: docker-compose up app

version: '3.7'


x-shared: &shared
  environment:
    # set these variables via the environment or a `.env` file, which
    # docker-compose reads and uses to populate variables
    ALLOW_BUILD_TRIGGERS: ${ALLOW_BUILD_TRIGGERS}
    BUILD_TRIGGER_DOWNSCALING: ${BUILD_TRIGGER_DOWNSCALING}
    BUILD_TRIGGER_LIMIT: ${BUILD_TRIGGER_LIMIT}
    BUILD_TRIGGER_SLEEP: ${BUILD_TRIGGER_SLEEP}
    BUILDER_TOKEN: ${BUILDER_TOKEN}
    CHECKOUTS_DIR: ${CHECKOUTS_DIR}
    DATABASE_HOST: ${DATABASE_HOST}
    DATABASE_PORT: ${DATABASE_PORT}
    DATABASE_NAME: ${DATABASE_NAME}
    DATABASE_USERNAME: ${DATABASE_USERNAME}
    DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    GITHUB_TOKEN: ${GITHUB_TOKEN}
    GITLAB_API_TOKEN: ${GITLAB_API_TOKEN}
    GITLAB_PIPELINE_LIMIT: ${GITLAB_PIPELINE_LIMIT}
    GITLAB_PIPELINE_TOKEN: ${GITLAB_PIPELINE_TOKEN}
    HIDE_STAGING_BANNER: ${HIDE_STAGING_BANNER}
    LOG_LEVEL: ${LOG_LEVEL}
    METRICS_PUSHGATEWAY_URL: ${METRICS_PUSHGATEWAY_URL}
    ROLLBAR_TOKEN: ${ROLLBAR_TOKEN}
    SITE_URL: ${SITE_URL}
  volumes:
    - checkouts:/checkouts


services:
  app:
    image: registry.gitlab.com/finestructure/swiftpackageindex:${VERSION}
    <<: *shared
    depends_on:
      - migrate
    ports:
      - '80:80'
    command: ["serve", "--env", "${ENV}", "--hostname", "0.0.0.0", "--port", "80"]
    restart: always

  reconcile:
    image: registry.gitlab.com/finestructure/swiftpackageindex:${VERSION}
    <<: *shared
    depends_on:
      - migrate
    entrypoint: ["/bin/bash"]
    command: ["-c", "--",
      "trap : TERM INT; while true; do ./Run reconcile --env ${ENV}; sleep ${RECONCILE_SLEEP:-120}; done"
    ]
    restart: always

  ingest:
    image: registry.gitlab.com/finestructure/swiftpackageindex:${VERSION}
    <<: *shared
    depends_on:
      - migrate
    entrypoint: ["/bin/bash"]
    command: ["-c", "--",
      "trap : TERM INT; while true; do ./Run ingest --env ${ENV} --limit ${INGEST_LIMIT:-100}; sleep ${INGEST_SLEEP:-300}; done"
    ]
    restart: always

  analyze:
    image: registry.gitlab.com/finestructure/swiftpackageindex:${VERSION}
    <<: *shared
    depends_on:
      - migrate
    entrypoint: ["/bin/bash"]
    command: ["-c", "--",
      "trap : TERM INT; while true; do ./Run analyze --env ${ENV} --limit ${ANALYZE_LIMIT:-25}; sleep ${ANALYZE_SLEEP:-20}; done"
    ]
    restart: always

  trigger_builds:
    image: registry.gitlab.com/finestructure/swiftpackageindex:${VERSION}
    <<: *shared
    depends_on:
      - migrate
    entrypoint: ["/bin/bash"]
    command: ["-c", "--",
      "trap : TERM INT; while true; do ./Run trigger-builds --env ${ENV} --limit ${BUILD_TRIGGER_LIMIT:-1}; sleep ${BUILD_TRIGGER_SLEEP:-60}; done"
    ]
    restart: always
  
  migrate:
    image: registry.gitlab.com/finestructure/swiftpackageindex:${VERSION}
    <<: *shared
    depends_on:
      - db
    command: ["migrate", "--yes"]

  db:
    image: postgres:12.1-alpine
    volumes:
      - db_data:/var/lib/postgresql/data/pgdata
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    restart: always

  sshd:
    image: registry.gitlab.com/finestructure/spi-sshd:0.0.1
    entrypoint: ["/bin/bash"]
    command: ["-c", "--", "echo '${authorized_keys}' > /root/.ssh/authorized_keys && chmod 0400 /root/.ssh/authorized_keys && ssh-start ssh-server"]
    ports:
      - "2222:22"
    restart: always

  grafana:
    image: grafana/grafana:7.3.1
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_USERS_ALLOW_SIGN_UP: 'false'
    volumes:
      - grafana_data:/var/lib/grafana
    restart: always
    ports:
      - 3000:3000

  loki:
    image: grafana/loki:1.5.0
    command: -config.file=/etc/loki/local-config.yaml
    restart: always

  promtail:
    build: ./infrastructure/promtail
    volumes:
      - /var/lib/docker/containers:/var/log
    command: -config.file=/promtail.yaml
    restart: always

  prometheus:
    build: ./infrastructure/prometheus
    volumes:
      - prometheus_data:/prometheus
    command:
      - '--config.file=/prometheus.yml'
    restart: always

  pushgateway:
    image: prom/pushgateway:v1.3.0
    restart: always

volumes:
  db_data:
  checkouts:
  grafana_data:
  prometheus_data:
