/* -------------------------------------------------------------------------
  Package build results page.
---------------------------------------------------------------------------- */

.matrix {
  .result {
    & > .succeeded,
    & > .failed {
      a {
        display: none;
        font-size: 16px;
      }

      i {
        display: block;
      }

      &:hover {
        a {
          display: block;
        }

        i {
          display: none;
        }
      }
    }
  }
}
