/* -------------------------------------------------------------------------
  Color variables for both light and dark mode.
---------------------------------------------------------------------------- */

/* Light mode base colors */

:root {
  --very-dark-blue: #111930;
  --dark-blue: #232339;
  --mid-blue: #356fce;
  --light-blue: #bedeff;
  --very-light-blue: #e6f2ff;

  --dark-green: #027353;
  --mid-green: #038c33;
  --light-green: #68bb13;

  --yellow: #f2b94f;
  --orange: #f58e36;
  --mid-red: #cc4444;
  --light-red: #ffeeee;
  --pink: #ea4aaa;
  --light-pink: #fff2fa;

  --black: #1d1d1d;
  --very-very-dark-grey: #232323;
  --very-dark-grey: #2f2f2f;
  --dark-grey: #3e3e3e;
  --grey: #9a9a9a;
  --light-grey: #dadada;
  --very-light-grey: #f1f1f1;
  --very-very-light-grey: #f8f8f8;
  --white: #ffffff;
}

/* Dark mode base color overrides */

@media (prefers-color-scheme: dark) {
  :root {
    --black: #070710;
    --very-very-dark-grey: #0e0e19;
    --very-dark-grey: #191923;

    --mid-blue: #55b7ff;
    --orange: #ec8329;
    --mid-red: #ff4343;
    --dark-red: #250201;
    --yellow: #ffb834;

    --dark-green: #0c946e;
    --mid-green: #0ebf4c;
    --light-green: #96ff4c;
  }
}

/* Light mode semantic colors */

:root {
  --page-background: var(--white);
  --page-text: var(--black);
  --link-text: var(--mid-blue);
  --link-highlight: var(--mid-red);

  --table-header-background: var(--very-light-grey);
  --table-row-alt-background: var(--very-very-light-grey);

  --blockquote-text: var(--dark-grey);
  --blockquote-border: var(--light-grey);

  --header-background: var(--very-dark-blue);
  --header-text: var(--white);
  --header-link-text: var(--white);
  --header-link-highlight: var(--yellow);
  --header-gradient-start: rgba(255, 255, 255, 0.2);
  --header-gradient-end: rgba(255, 255, 255, 0.05);

  --input-background: var(--white);
  --input-text: var(--black);
  --input-placeholder: var(--light-grey);

  --results-background: var(--white);
  --results-selected-background: var(--very-light-blue);
  --results-separator: var(--light-grey);
  --results-shadow: rgba(100, 100, 100, 0.2);

  --button-background: var(--very-light-blue);
  --button-text: var(--mid-blue);
  --button-border: var(--light-blue);

  --rule-background: var(--light-blue);
  --rule-thin-background: var(--light-grey);

  --lozenge-text: var(--white);
  --lozenge-green-background: var(--light-green);
  --lozenge-orange-background: var(--orange);
  --lozenge-red-background: var(--mid-red);

  --stable-text: var(--light-green);
  --beta-text: var(--mid-green);
  --branch-text: var(--dark-green);

  --support-text: var(--pink);
  --support-background: var(--light-pink);

  --matrix-result-compatible-background: var(--light-green);
  --matrix-result-compatible-text: var(--white);
  --matrix-result-unknown-background: var(--very-very-light-grey);
  --matrix-result-unknown-text: var(--light-grey);
  --matrix-result-incompatible-background: var(--light-grey);
  --matrix-result-incompatible-text: var(--grey);
  --matrix-result-succeeded-background: var(--very-light-grey);
  --matrix-result-succeeded-text: var(--light-green);
  --matrix-result-failed-background: var(--very-light-grey);
  --matrix-result-failed-text: var(--mid-red);

  --package-list-background: var(--very-very-light-grey);

  --icon-text: var(--dark-grey);

  --error-background: var(--light-red);
  --error-text: var(--mid-red);

  --code-snippet-background: var(--very-light-grey);
  --code-snippet-text: var(--black);
  --code-snippet-border: var(--grey);
}

/* Dark mode semantic color overrides */

@media (prefers-color-scheme: dark) {
  :root {
    --page-background: var(--black);
    --page-text: var(--white);

    --table-header-background: var(--very-dark-grey);
    --table-row-alt-background: var(--very-very-dark-grey);

    --blockquote-text: var(--light-grey);
    --blockquote-border: var(--dark-grey);

    --header-background: var(--very-dark-blue);
    --header-gradient-start: rgba(255, 255, 255, 0.08);
    --header-gradient-end: rgba(255, 255, 255, 0.03);

    --input-background: var(--very-dark-grey);
    --input-text: var(--white);
    --input-placeholder: var(--grey);

    --results-background: var(--very-dark-grey);
    --results-selected-background: var(--dark-blue);
    --results-separator: var(--very-dark-grey);
    --results-shadow: rgba(20, 20, 60, 0.3);

    --button-background: var(--dark-blue);
    --button-text: var(--mid-blue);
    --button-border: var(--mid-blue);

    --rule-background: var(--dark-blue);
    --rule-thin-background: var(--dark-grey);

    --lozenge-green-background: var(--mid-green);

    --matrix-result-compatible-background: var(--mid-green);
    --matrix-result-compatible-text: var(--white);
    --matrix-result-unknown-background: var(--very-very-dark-grey);
    --matrix-result-unknown-text: var(--dark-grey);
    --matrix-result-incompatible-background: var(--very-dark-grey);
    --matrix-result-incompatible-text: var(--dark-grey);
    --matrix-result-succeeded-background: var(--very-dark-grey);
    --matrix-result-succeeded-text: var(--mid-green);
    --matrix-result-failed-background: var(--very-dark-grey);
    --matrix-result-failed-text: var(--mid-red);

    --package-list-background: var(--very-very-dark-grey);

    --icon-text: var(--light-grey);

    --error-background: var(--dark-red);
    --error-text: var(--mid-red);

    --code-snippet-background: var(--very-dark-grey);
    --code-snippet-text: var(--white);
    --code-snippet-border: var(--grey);
  }
}
