/* -------------------------------------------------------------------------
  Error page.
---------------------------------------------------------------------------- */

.error {
  padding: 100px 0;
  text-align: center;

  // TODO: Candidate for removal.
  h4 {
    margin: 20px 0 10px 0;
  }

  // TODO: Candidate for removal.
  p {
    margin: 20px 0;
  }

  i {
    font-size: 35px;
    color: var(--error-text);
  }
}
