/* -------------------------------------------------------------------------
  Error page.
---------------------------------------------------------------------------- */

section.error_message {
  padding: 100px 0;

  i {
    font-size: 35px;
    color: var(--error-text);
  }
}
