/* -------------------------------------------------------------------------
  Site home page, including the display of search results.
---------------------------------------------------------------------------- */

.search {
  margin: 0;
  background-color: var(--header-background);
  background-image: radial-gradient(var(--header-gradient-start) 0%, var(--header-gradient-end) 75%);
  color: var(--white);

  .inner {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }

  form {
    position: relative;
    margin: 15px auto;
    width: 90%;
    max-width: 500px;
  }

  textarea {
    padding: 12px;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
    border: none;
    color: var(--input-text);
    background-color: var(--input-background);
    resize: none;
    white-space: nowrap;
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }
}

.recent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  ul {
    padding: 0;
  }

  li {
    margin: 15px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .recent {
    flex-direction: column;
    align-items: center;
  }
}

/* Search results drop down */

#results {
  margin-top: -5px;
  position: absolute;
  width: 100%;
  max-height: 500px;
  overflow: scroll;
  background-color: var(--results-background);
  border-top: 1px var(--results-separator) solid;
  box-shadow: 0px 3px 8px 2px var(--results-shadow);
  z-index: 9999;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px var(--results-separator) solid;

    &:last-child {
      border: none;
    }

    &.selected {
      background-color: var(--results-selected-background);
    }
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  h4 {
    display: inline;
    margin: 0;
    padding: 0;
  }

  small {
    font-size: 10px;
  }

  p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: var(--page-text);
  }

  .no_results {
    padding: 40px;
    text-align: center;
  }

  .more_results {
    padding: 20px;
    text-align: center;
    font-weight: 600;
    background-color: var(--results-separator);
    color: var(--page-text);
  }

  &.error {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--error-text);
    background-color: var(--error-background);

    .icon {
      margin: 20px;
      font-size: 40px;
    }
  }
}
