/* -------------------------------------------------------------------------
  Site layout and containers.
---------------------------------------------------------------------------- */

.inner {
  margin: 0 auto;
  padding: 20px 10px;
  max-width: 850px;
}

.two_column {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-auto-flow: column;
  gap: 60px;
}

@media screen and (max-width: $mobile-breakpoint) {
  .two_column {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 10px;
  }
}

/* Staging banner */

.staging {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--mid-red);
  color: var(--white);
}
