/* Globals ----------------------------------------------------------------- */
:root {
  --dark-blue: #111930;
  --mid-blue: #356FCE;
  --light-blue: #BEDEFF;

  --dark-green: #027353;
  --mid-green: #038C33;
  --light-green: #5FBF1B;

  --yellow: #F2B94F;

  --black: #2D2D2D;
  --dark-grey: #5C5C5C;
  --grey: #9A9A9A;
  --light-grey: #EFEFEF;
  --white: #FFFFFF;
}

/* Base styles ------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  color: var(--black);
  background-color: var(--white);
  font-family: "Open Sans", -apple-system, "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.2;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 23px;
  line-height: 1.2;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 1;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 24px;
  line-height: 1.2;
}

h4 {
  font-size: 20px;
  line-height: 1.2;
}

a {
  color: var(--mid-blue);
  text-decoration: none;
}

strong {
  font-weight: 600;
}

small {
  font-size: 11px;
}

hr {
  margin: 5px 0;
  border: 0;
  height: 2px;
  background-color: var(--light-blue);
}

hr.short {
  margin: 5px auto;
  max-width: 50%;
  height: 1px;
}

/* Icon font --------------------------------------------------------------- */
@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?os9rj2');
  src: url('/fonts/icomoon.eot?os9rj2#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?os9rj2') format('truetype'),
    url('/fonts/icomoon.woff?os9rj2') format('woff'),
    url('/fonts/icomoon.svg?os9rj2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.icon,
li.icon:before {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

i.icon {
  margin-right: 7px;
}

i.icon:before {
  color: var(--white);
}

li.icon {
  list-style: none;
}

li.icon:before {
  margin-left: -35px;
  margin-right: 15px;
  color: var(--dark-grey);
  font-size: 18px;
}

/* Overall layout ---------------------------------------------------------- */
.inner {
  margin: 0 auto;
  padding: 20px 10px;
  max-width: 800px;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .split {
    flex-direction: column;
    align-items: flex-start;
  }
}

section {
  margin: 40px 0;
}

section li {
  margin: 15px 0;
  list-style: none;
}

section li p {
  margin: 10px 0;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin: 0 5px;
  list-style: none;
}

nav ul li a {
  padding: 3px;
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
}

nav ul li a:hover {
  color: var(--yellow);
}

/* Header ------------------------------------------------------------------ */
header {
  color: var(--white);
  background-color: var(--dark-blue);
}

header .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  header .inner {
    flex-direction: column;
  }
}

header a {
  color: var(--white);
}

header h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 767px) {
  header h1 {
    margin-bottom: 20px;
  }
}

header h1 img {
  margin-right: 10px;
  max-width: 64px;
}

header nav ul li a {
  border-bottom: 1px var(--light-blue) solid;
}

header nav ul li a:hover {
  border-color: var(--yellow);
}

/* Package page ------------------------------------------------------------ */
p.description {
  font-size: 19px;
}

.releases ul,
.language_platforms ul {
  padding: 0;
}

.language_platforms li {
  margin: 30px 0;
}

.language_platforms ul li ul {
  padding: 0 50px;
}

.language_platforms ul li li {
  margin: 5px 0;
}

/* Package page lozenges --------------------------------------------------- */
div.license {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  border-radius: 8px;
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
}

div.license {
  background-color: var(--light-green);
}

span.stable,
span.beta,
span.branch {
  display: inline-flex;
  align-items: baseline;
  padding: 2px 7px;
  border-radius: 4px;
  color: var(--white);
  font-weight: 600;
}

span.stable {
  background-color: var(--light-green);
}

span.beta {
  background-color: var(--mid-green);
}

span.branch {
  background-color: var(--dark-green);
}

/* Package page icons ------------------------------------------------------ */
i.osi:before { content: "\e900"; }
i.stable:before { content: "\e905"; font-size: 13px; }
i.beta:before { content: "\e906"; font-size: 13px; }
i.branch:before { content: "\e907"; font-size: 13px; }

li.author:before { content: "\e901"; }
li.history:before { content: "\e902" }
li.activity:before { content: "\e903"; }
li.products:before { content: "\e904"; }
li.language:before { content: "\e908"; font-size: 24px; margin-left: -33px; margin-right: 8px; }
li.platforms:before { content: "\e909"; font-size: 24px; margin-left: -33px; margin-right: 8px; }

/* Footer ------------------------------------------------------------------ */
footer {
  color: var(--white);
  background-color: var(--dark-blue);
}

footer .inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  footer .inner nav ul {
    flex-direction: column;
    align-items: center;
  }
}
