/* -------------------------------------------------------------------------
  Individual package pages.
---------------------------------------------------------------------------- */

.package {
  h2 {
    margin: 0;
    padding: 0;
  }

  p.summary {
    margin-top: 0;
    font-size: 19px;
  }

  article.details {
    display: grid;
    grid-template-columns: [main] 0.7fr [sidebar] 0.3fr;
    gap: 10px 60px;

    section.main_metadata {
      grid-column-start: main;
      grid-row-start: 1;

      ul.icons {
        grid-template-columns: 0.5fr 0.5fr;
        grid-auto-flow: row;

        li.history {
          grid-column-start: span 2;
          background-image: var(--image-clock);
        }

        li.activity {
          grid-column-start: span 2;
          background-image: var(--image-speech-bubble);
        }

        li.license {
          background-image: var(--image-osi);

          small {
            margin-right: 10px;
          }

          &.warning {
            background-image: var(--image-circle-question-mark);
          }

          &.error {
            background-image: var(--image-circle-exclamation-mark);
          }
        }

        li.stars {
          background-image: var(--image-star);
        }

        li.libraries {
          background-image: var(--image-box);
        }

        li.executables {
          background-image: var(--image-prompt);
        }
      }
    }

    section.main_compatibility {
      grid-column-start: main;
      grid-row-start: 2;
    }

    section.sidebar_links {
      grid-column-start: sidebar;
      grid-row-start: 1;

      ul.icons {
        li.github {
          background-image: var(--image-github);
        }

        li.compatibility {
          background-image: var(--image-stable);
        }
      }
    }

    section.sidebar_versions {
      grid-column-start: sidebar;
      grid-row-start: 2;

      ul {
        padding: 0;
        list-style: none;
        display: grid;
        gap: 15px;

        li {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    article.details {
      display: grid;
      grid-template-columns: [main] 1fr;

      section.main_metadata {
        grid-column-start: main;
        grid-row-start: 2;
      }

      section.main_compatibility {
        grid-column-start: main;
        grid-row-start: 4;
      }

      section.sidebar_links {
        grid-column-start: main;
        grid-row-start: 1;
      }

      section.sidebar_releases {
        grid-column-start: main;
        grid-row-start: 3;
      }
    }
  }
}

/* Branches */

.stable,
.beta,
.branch {
  font-weight: 600;
  padding-right: 18px;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: top 2px right;
}

.stable {
  color: var(--stable-text);
  background-image: var(--image-stable);
}

.beta {
  color: var(--beta-text);
  background-image: var(--image-beta);
}

.branch {
  color: var(--branch-text);
  background-image: var(--image-branch);
}

.package_list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    flex-basis: 49%;
    background-color: var(--package-list-background);

    a {
      padding: 10px;

      h4 {
        margin: 0;
      }

      p {
        margin: 5px 0;
        color: var(--page-text);
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    li {
      flex-basis: 100%;
    }
  }
}
