/* -------------------------------------------------------------------------
  Individual package pages.
---------------------------------------------------------------------------- */

.package {
  h2 {
    margin: 0;
    padding: 0;
  }

  hr {
    margin: 10px 0;
  }

  section.metadata{
    li {
      margin: 10px 0;

      p {
        margin: 10px 0;
      }
    }
  }
}

p.description {
  font-size: 19px;
}

.releases ul,
.language_platforms ul {
  padding: 0;
  list-style: none;
}

.language_platforms li {
  margin: 30px 0;
}

/* License */

.license {
  margin: 5px 0;
  display: flex;
  align-items: center;
  padding: 7px 10px;
  border-radius: 8px;
  color: var(--license-text);
  font-weight: 600;
  font-size: 18px;
  background-color: var(--license-compatible-background);

  &.none {
    background-color: var(--license-none-background);
  }

  &.incompatible {
    background-color: var(--license-incompatible-background);
  }

  i.icon {
    margin-right: 7px;
  }
}

/* Branches */

.stable,
.beta,
.branch {
  font-weight: 600;
}

.stable {
  color: var(--stable-text);
}

.beta {
  color: var(--beta-text);
}

.branch {
  color: var(--branch-text);
}

/* Language and platforms */

.language_platforms {
  ul {
    li {
      ul {
        padding: 0 40px;
        list-style: disc;

        li {
          margin: 5px 0;
        }
      }
    }
  }
}
