/* -------------------------------------------------------------------------
  Styles for the Information for Package Maintainers page.
---------------------------------------------------------------------------- */

.markdown_badges {
  display: flex;
  align-items: center;
  margin: 5px 0 15px 0;
  gap: 10px;

  form {
    flex-grow: 1;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .markdown_badges {
    flex-direction: column;
    align-items: flex-start;
  }
}
