/* -------------------------------------------------------------------------
  Individual package pages.
---------------------------------------------------------------------------- */

.package {
  h2 {
    margin: 0;
    padding: 0;
  }

  p.summary {
    margin-top: 0;
    font-size: 19px;
  }

  article.details {
    h3 {
      margin: 0;
      padding: 0;
    }

    section.main_metadata {
      ul {
        padding: 0;
        margin: 10px 0;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-auto-flow: row;
        gap: 15px;

        li {
          padding: 0 0 0 30px;
          list-style: outside none none;
          background-size: 18px;
          background-repeat: no-repeat;
          background-position: top 2px left;
        }

        li.history {
          grid-column-start: span 2;
          background-image: var(--image-clock);
        }

        li.activity {
          grid-column-start: span 2;
          background-image: var(--image-speech-bubble);
        }

        li.license {
          background-image: var(--image-osi);

          &.warning {
            background-image: var(--image-warning);
          }

          &.error {
            background-image: var(--image-error);
          }
          .no_license {
            color: var(--red-text);
          }

          #license_more_info {
            display: block;
            font-size: 11px;
          }
        }

        li.stars {
          background-image: var(--image-star);
        }

        li.libraries {
          background-image: var(--image-box);
        }

        li.executables {
          background-image: var(--image-prompt);
        }
      }
    }

    section.sidebar_links {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        gap: 5px;

        li > a {
          display: block;
          padding: 5px;
          padding-left: 10px;
          border-left: 3px var(--sidebar-section-border) solid;
          background-color: var(--sidebar-section-background);

          &:hover {
            background-color: var(--sidebar-section-hover);
          }
        }
      }
    }

    section.sidebar_versions {
      ul {
        padding: 0;
        list-style: none;
        display: grid;
        gap: 15px;

        li {
          display: flex;
          flex-direction: column;
          padding: 5px 10px 6px 10px;
          background-color: var(--sidebar-section-background);
          border-left: 3px var(--sidebar-section-border) solid;

          strong {
            font-size: 14px;
          }

          &.stable {
            border-left-color: var(--stable-text);
          }

          &.beta {
            border-left-color: var(--beta-text);
          }

          &.branch {
            border-left-color: var(--branch-text);
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    article.details {
      section.main_metadata {
        order: 2;

        ul {
          grid-template-columns: 1fr;

          li.history {
            grid-column-start: 1; // Only needed as this was explicitly specified.
          }

          li.activity {
            grid-column-start: 1; // Only needed as this was explicitly specified.
          }
        }
      }

      section.sidebar_links {
        order: 1;
      }

      section.main_compatibility {
        order: 2;
      }

      section.sidebar_versions {
        order: 1;
      }
    }
  }

  .try_in_playground {
    position: relative;

    #app_download_explainer {
      position: absolute;
      margin-top: 10px;
      padding: 10px;
      width: 150%;
      left: -25%;
      color: var(--page-text);
      background-color: var(--popover-background);
      border-top: 3px var(--popover-border) solid;
      box-shadow: var(--popover-shadow);
      font-size: 14px;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: -13px;
        margin-left: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent var(--popover-border) transparent;
      }
    }

    @media screen and (max-width: $mobile-breakpoint) {
      #app_download_explainer {
        width: 80%;
        left: 10%;
      }
    }
  }
}

/* Branches */

span.stable,
span.beta,
span.branch {
  font-weight: 600;
  padding-right: 18px;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: top 2px right;
}

span.stable {
  color: var(--stable-text);
  background-image: var(--image-stable);
}

span.beta {
  color: var(--beta-text);
  background-image: var(--image-beta);
}

span.branch {
  color: var(--branch-text);
  background-image: var(--image-branch);
}

/* Package Tab Bar */
.package_tabs {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--table-row-alt-background);
  box-shadow: inset 0 -3px var(--sidebar-section-border);
  padding-left: 10px;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;

    li > a {
      display: block;
      padding: 15px;

      &:hover {
        background-color: var(--sidebar-section-hover);
      }

      &.active {
        border-bottom: 3px var(--stable-text) solid;
      }
    }
  }
}
