/* -------------------------------------------------------------------------
  Styles specific to the readme section of the page.
---------------------------------------------------------------------------- */

article.readme {
  overflow: hidden;

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 22px;
    margin-top: 20px;
  }

  h3 {
    font-size: 17px;
    margin-top: 18px;
  }

  h4 {
    font-size: 15px;
    margin-top: 16px;
  }

  img {
    max-width: 100%;
  }

  table {
    width: 100%;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    border-collapse: collapse;

    th {
      background-color: var(--table-header-background);
    }

    th,
    td {
      padding: 5px 10px;
      border: 1px solid var(--grey);
    }

    tr:nth-child(2n) {
      background-color: var(--table-row-alt-background);
    }
  }

  li > p {
    margin: 5px 0;
  }
}
