/* -------------------------------------------------------------------------
  Tab Bar Element (used by packages)
---------------------------------------------------------------------------- */

tab-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--tab-bar-background);
  box-shadow: inset 0 -3px var(--tab-bar-border);
  padding-left: 10px;
  display: block;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;

    li {
      display: block;
      padding: 15px;
      cursor: pointer;
      border-bottom: 3px var(--tab-bar-border) solid;

      &:hover {
        background-color: var(--tab-bar-hover);
      }

      &.active {
        border-bottom: 3px var(--tab-bar-border-active) solid;
      }
    }
  }
}

[data-tab-page].hidden {
    display: none;
}
