{
    "task.allowAutomaticTasks": "on",
    "stylelint.validate": ["css", "scss"],
    "[javascript][json][jsonc][typescript][typescriptreact][html][yaml][md][scss][css]": {
        "editor.formatOnSave": true,
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "editor.codeActionsOnSave": {
        "source.fixAll": "never",
        "source.fixAll.stylelint": "explicit"
    }
}
