{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "Yarn Serve",
            "type": "shell",
            "command": "yarn && yarn serve",
            "presentation": {
                "reveal": "always",
                "panel": "new"
            },
            "runOptions": {
                "runOn": "folderOpen"
            }
        }
    ]
}
