{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "Serve Front End",
            "type": "shell",
            "command": "npm install && npm run serve",
            "presentation": {
                "reveal": "always",
                "panel": "new"
            },
            "runOptions": {
                "runOn": "folderOpen"
            }
        }
    ]
}
