# Copyright 2020-2021 Dave Verwer, Sven A. Schmidt, and other contributors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Continuous Integration

on:
  workflow_dispatch:
  push:

jobs:
  test-linux:
    name: Test
    runs-on: ubuntu-latest
    container:
      image: registry.gitlab.com/finestructure/spi-base:0.6.4
    services:
      postgres:
        image: postgres:13.5-alpine
        env:
          POSTGRES_DB: spi_test
          POSTGRES_USER: spi_test
          POSTGRES_PASSWORD: xxx
        ports:
          - '5432:5432'
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install unzip
        run: apt-get update && apt-get install -y unzip
      - name: Run tests
        # temporarily run without TSAN due to false positives on Linux
        # https://github.com/SwiftPackageIndex/SwiftPackageIndex-Server/pull/1496
        # Review with Swift 5.6
        run: cp .env.testing.template .env.testing && make test-without-tsan
        env:
          COLLECTION_SIGNING_PRIVATE_KEY: ${{ secrets.COLLECTION_SIGNING_PRIVATE_KEY }}
          DATABASE_HOST: postgres
          DATABASE_PORT: '5432'

  # test-macos:
  #   name: Test macOS
  #   runs-on: macOS-latest
  #   services:
  #     postgres:
  #       image: postgres:11.6
  #       env:
  #         POSTGRES_DB: spi_dev
  #         POSTGRES_USER: spi_dev
  #         POSTGRES_PASSWORD: xxx
  #       ports:
  #         - 5432:5432
  #       options: >-
  #         --health-cmd pg_isready
  #         --health-interval 10s
  #         --health-timeout 5s
  #         --health-retries 5
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Select Xcode 11.4
  #       run: sudo xcode-select -s /Applications/Xcode_11.4.app
  #     - name: Log Xcode version
  #       run: /usr/bin/xcodebuild -version
  #     - name: Run tests
  #       run: make test
  #       env:
  #         DATABASE_HOST: postgres
  #         DATABASE_PORT: 5432
